@import "../../../../styles/variables.scss";

.button {
  background-color: $darken-aqua-bg;
  border: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  svg {
    margin: 0px 10px 0px 0px;
  }
  &:hover {
    background-color: darken($aqua-bg, 5);
  }
}
