@import "../../styles/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    .card__title {
      text-decoration: underline;
    }
  }
  img {
    width: 100%;
    margin: 0px 0px 10px 0px;
    // object-fit: cover;
  }
  &__title {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
  }
  &-prices {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 10px 0px 0px 0px;
    &__num {
      display: flex;
      align-items: flex-start;
    }
    .discount {
      font-size: 18px;
      font-weight: 700;
      color: red;
      margin: 0px 0px 0px 10px;
    }
  }
  &__active-price {
    color: $darken-aqua-bg;
    font-size: 18px;
  }
  &__past-price {
    font-size: 14px;
    color: lightgray;
    text-decoration: line-through;
  }
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    margin: 0px 0px 0px 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 5px;
    align-items: center;
    background-color: $darken-aqua-bg;
    transition: all 0.3s ease;
    &:hover {
      background-color: $aqua-bg;
    }
  }
}
